.mt{
    margin-top: 50px;
}
.mt-form{
    margin-top: 35px;
}
.ml{
    margin-left: 380px;
}
.ml-form{
    margin-left: 30px;
}
.pt{
    padding-top: 50px;
}
.pt-form{
    padding-top: 35px;
}
.pl{
    padding-left: 345px;
}
.pl-form{
    padding-left: 38px;
}

@media (max-width:768px){
    .pl{
        padding-left: 105px !important;
    }
}
@media (max-width:684px){
    .pl{
        padding-left: 30px !important;
    }
}
@media (max-width:414px){
    .pl{
        padding-left: 0px !important;
    }
}
@media (max-width:375px){
    .pl{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
@media (max-width:335px){
    .pl{
        padding-left: 0px !important;
    }
}