.mt{
    margin-top: 50px;
}
.mt-form{
    margin-top: 35px;
}
.ml{
    margin-left: 380px;
}
.ml-form{
    margin-left: 30px;
}
.pt{
    padding-top: 50px;
}
.pt-form{
    padding-top: 35px;
}
.pl{
    padding-left: 345px;
}
.pl-form{
    padding-left: 38px;
}
